body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #bdb1b1;
  font-family: Arial, sans-serif;
}

.calculator {
  background-color:rgb(69, 63, 54);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
}

#display {
  width: 100%;
  height: 40px;
  font-size: 24px;
  text-align: right;
  margin-bottom: 10px;
  border: 1px solid #0056b3;
  border-radius: 5px
  padding: 5px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: wheat;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #362118;
}